<div class="z-0 relative mt-24" style="filter:drop-shadow(0 -5px 7px rgba(0,0,0,0.1))">
	<img class="h-[150px] bg-secondary w-[100vw] border-b-[150px] border-b-secondary" style="mask: url('/bg/footer.svg') no-repeat center;mask-position-y:top;-webkit-mask-position-y:top;">
</div>
<footer class="z-10 relative footer footer-center bg-secondary text-primary-content p-10">
	<aside>
		<img class="h-32 my-2 mt-3" src="/logo/choccy.svg">
		<p class="font-bold">
			<a href="https://choccymilk.dev" class="link">choccymilk.dev</a>
			<br/>
			Wrangling bits since 2016
		</p>
		<div>
			<p>Rights may or may not be reserved.</p>
			<p>Your mileage might vary. Or something.</p>
		</div>
	</aside>
	<nav>
		<div class="grid grid-flow-col gap-4"></div>
	</nav>
</footer>
