<div class="hero bg-secondary min-h-screen z-10 relative ">
	<div class="hero-content text-center text-secondary-content">
		<div class="max-w-md">
			<h1 class="text-5xl font-bold">Hello there</h1>
			<p class="py-6">
				Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi.  In deleniti eaque aut repudiandae et a id nisi.
			</p>
			<button class="btn btn-primary">Get Started</button>
		</div>
	</div>
</div>
<div class="z-0 relative mb-24" style="filter:drop-shadow(0 5px 7px rgba(0,0,0,0.1))">
	<img class="h-[150px] bg-secondary w-[100vw] border-t-[150px] border-t-secondary" style="mask: url('/bg/container.svg') no-repeat center;mask-position-y:bottom;-webkit-mask-position-y:bottom;">
</div>
