{% set links = load_data(path="data/nav-elements.json") %}

<div class="navbar bg-base-100">
	<div class="flex-1">
		<a class="btn btn-ghost ps-[1px] text-xl"><img class="h-11 rounded-md" src="/logo/wide.png">Choccymilk</a>
	</div>
	<div class="flex-none">
		<ul class="menu menu-horizontal align-middle px-1">
			{% for entry in links %}
				<li>
					<a href="{{entry.link}}">{{entry.name}}</a>
				</li>
			{% endfor %}
			<choccy-themetoggle light="retro" dark="dracula"></choccy-themetoggle>
		</ul>
	</div>
</div>
