<div class="hero bg-secondary min-h-screen z-10 relative ">
	<div class="hero-content text-center text-secondary-content">
		<div class="max-w-md" animated-hero-index>
			<h1 class="text-5xl font-normal opacity-0" animated-title>Hello there</h1>
			<p class="py-6 prose text-secondary-content opacity-0" animated-p-1>
				This is my website.
			</p>
			<p class="pb-6 prose text-secondary-content">
				<span class="opacity-0" animated-t-1>An unholy amalgamation of</span>
				<span animated-t-2 class="opacity-0 badge badge-neutral align-middle">
					<span animated-t-3 class="opacity-0 text-primary pe-1 font-bold">cringy</span>
					<span animated-t-4 class="opacity-0 text-accent font-bold">colors,</span>
				</span>
				<span animated-t-5 class="opacity-0 font-mono me-0">tech</span>
				<span class="opacity-0 relative" animated-t-7>, and tasty</span>
				<b class="opacity-0 relative" animated-t-8>chocolate milk</b>
			</p>
			<p class="pb-6 prose text-secondary-content opacity-0" animated-p-3>
				<span class="text-xs">Choccymilk is like, my brand or something.<br>
					Don't question it too much, I just like it.</span>
			</p>
			<a href="#main-content" animated-p-4 class="opacity-0">
				<i class="motion-safe:animate-bounce fa-solid fa-angles-down mt-10"></i>
			</a>
		</div>
	</div>
</div>
{% include 'partials/bg/hero.html' %}
