{% set cards = load_data(path="data/index-cards.json") %}

<div class="grid gap-10 grid-cols-1 auto-rows-max justify-items-center sm:grid-cols-2 xl:grid-cols-3 xxl:grid-cols-4 ">
	{% for card in cards %}
		<choccy-card title="{{card.name}}" image="{{card.image}}">
			<p>{{card.description}}</p>
			<a href="{{card.target}}" slot="actions" class="btn btn-primary btn-sm">
				{{card.button}}
				{% if card.target is containing("https://") %}
					<i class="fa-solid fa-arrow-up-right-from-square"></i>
				{% else %}
					<i class="fa-solid fa-arrow-right"></i>
				{% endif %}
			</a>
		</choccy-card>
	{% endfor %}
</div>
