{% extends "index.html" %}
{% block head %}
	<script type="module" src="/src/blog.ts"></script>
{% endblock head %}
{% block content %}
	{% include 'includes/hero-blog.html' %}
	<div class="container mx-auto p-2 py-10 my-10">
		<div class="grid grid-cols-1 gap-y-10">
			{% for page in section.pages %}
				{% if not loop.index % 2 %}
					{% set palette = "secondary" %}
					{% set side = "right" %}
				{% else %}
					{% set palette = "neutral" %}
					{% set side = "left" %}
				{% endif %}

				<choccy-blog-card target="{{page.path}}" description="{{page.description}}" side="{{side}}" date="{{page.date}}" palette="{{palette}}" tags="{{page.taxonomies.tags | join(sep=",")}}" title="{{page.title}}" {% if page.extra and page.extra.image %} image="{{page.extra.image}}" {% endif %}></choccy-blog-card>
			{% endfor %}
		</div>
	</div>
{% endblock content %}
