{% extends "index.html" %}
{% block head %}
	<script type="module" src="/src/blog.ts"></script>
{% endblock head %}
{% block content %}
	{% include 'includes/hero-blog.html' %}
	<div class="container mx-auto p-2 my-10">
		<div class="grid grid-cols-1">
			{% for page in section.pages %}
				<choccy-blog-card date="{{page.date}}" tags="{{page.taxonomies.tags | join(sep=",")}}" title="{{page.title}}" {% if page.extra and page.extra.image %} image="{{page.extra.image}}" {% endif %}>
					<p class="prose prose-slate">{{page.description}}</p>
					<a href="{{page.path}}" slot="actions" class="btn btn-primary btn-sm">
						Read
						<i class="fa-solid fa-arrow-right"></i>
					</a>
				</choccy-blog-card>
			{% endfor %}
		</div>
	</div>
{% endblock content %}
